<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">


<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="res/w3.css">
    <link rel="stylesheet" type="text/css" href="res/style.css">
    <link rel="stylesheet" type="text/css" href="res/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="res/fontawesome-free-6.1.1-web/css/all.css">
    <link rel="icon" href="res/img/favicon.ico">
</head>
    <nav class="w3-mobile w3-bar text-center w3-top w3-bar" style="background-color:#000000; color: #df1c08;">
        <h5 class="w3-bar" style="color: white; background-color: #df1c08; font-weight: bold;">Skytech Digital</h5>
        <p>Laboratory Information Management System</p>
        <span class="w3-right" style="padding-right: 10px;">LOGGED IN AS:<span class="w3-red"><?php echo htmlspecialchars($_SESSION["username"]); ?></span></span>
    </nav>

</html>